@media screen and (max-width: 1680px) {
	.list-header {margin-left: 500px;}
}
@media screen and (max-width: 1129px) {
	.list-header {margin-left: 220px;}
}
@media screen and (max-width: 849px) {
    .list-header >li {
    	display: block;
    	padding-left: 10px;
    	margin-top: 0;
    	letter-spacing: 5px;
        }
    }
@media screen and (max-width: 849px) {
    .list-header {
    	margin-left: 200px;
                }
    } 
 @media screen and (max-width: 849px) {
.head-header {
	height: 100px;
}  
 @media screen and (max-width: 1900px)  {
 	.know-more {
 		margin-top: 154px;
 		margin-left: 0;
 		float: left;
 		 border-bottom-right-radius: 30px;
 		 border-top-right-radius: 30px;

 	}
@media screen and (max-width: 621px) {
	.content-top {
	background-size: cover;
	font-size: 15px;
	height: 680px;
    	width:735px;
	}
}
@media screen and (max-width: 1595px) {
	.content {
		display: none;
	}
/*.title >li {
	display: block;
    
           }
    .title {
    	padding-left: 0;
    	margin-left: 0;
    }       
 .my-content {
 	display: none;
 }          */
}
@media screen and (max-width: 1585px) {
	.services {
		width: 735px;
		background-color: #f0f0e8;
		height: 980px;
	}
	.my-services {
		display: none;
	}
	.my-sprite {
		display: none;
	}
	.services-title,.secondservices-title {
		display: none;
	}

     .services-text {
     	display: none;
     }
	.main-nav {
		display: inline-block;
		margin-left: 140px;
	}
	.my-works1 >li {
	display: block;
    }
    .my-works2 >li {
	display: block;
    }
    .my-works2 >li >img {
    	height: 380px;
    	width: 710px;
    }
    .my-works1 >li >img {
    	height: 380px;
    	width: 710px;
    }
    button {
    	display: inline-block;
    	margin-top: 750px;
    	text-align: center;
      margin-left: 15%;
    }
   .name,.email {
   	width: 500px;
   }
   .message, {
   	width: 520px;
   }
   .message-down {
    display: none;
   }
   .submit-1 {
   	float: left;
   	margin-left: 0;
    margin-top: 140px;
   }
.wrapper >h2 {
  margin-left: 40%;
}
.wrapper {
  width: 735px;
}
}